<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxluiitvc5jylsP1QI1wxTifDChx9c0xI</string>
	<key>GCM_SENDER_ID</key>
	<string>470157246676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bSell.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>blogin-a7835</string>
	<key>STORAGE_BUCKET</key>
	<string>blogin-a7835.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470157246676:ios:0e68fc7be2bc0e8a9e7b41</string>
</dict>
</plist>